---
import MainHead from './MainHead.astro';
import { ThemeProvider } from "@/components/theme-provider"
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'My Astro Blog', description = 'My musings about the Astro framework'} = Astro.props as Props;
---

<html lang="en">
  <MainHead {title} {description}/>
	<body>
    <ThemeProvider defaultTheme="dark" storageKey="vite-ui-theme">
		<slot>Default Text</slot>
    </ThemeProvider>
	</body>
</html>
